@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Lexend";
}

.font-sans-3 {
    font-family: "Source Sans 3", serif;
    font-weight: 600;
}

body {
    overflow: hidden;
}